{% extends 'blog/parents/base.html' %}

{% block title %}Cart{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        a {
            text-decoration: none;
        }

        .title {
            margin-bottom: 5vh
        }

        .card {
            margin: auto;
            max-width: 950px;
            width: 90%;
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 1rem;
            border: transparent
        }

        @media (max-width: 767px) {
            .card {
                margin: 3vh auto
            }
        }

        .cart {
            background-color: #fff;
            padding: 4vh 5vh;
            border-bottom-left-radius: 1rem;
            border-top-left-radius: 1rem
        }

        @media (max-width: 767px) {
            .cart {
                padding: 4vh;
                border-bottom-left-radius: unset;
                border-top-right-radius: 1rem
            }
        }

        .summary {
            background-color: #ddd;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            padding: 4vh;
            color: rgb(65, 65, 65)
        }

        @media (max-width: 767px) {
            .summary {
                border-top-right-radius: unset;
                border-bottom-left-radius: 1rem
            }
        }

        .summary .col-2 {
            padding: 0
        }

        .summary .col-10 {
            padding: 0
        }

        .row {
            margin: 0
        }

        .title b {
            font-size: 1.5rem
        }

        .main {
            margin: 0;
            padding: 2vh 0;
            width: 100%
        }

        .col-2,
        .col {
            padding: 0 1vh
        }

        a {
            padding: 0 1vh
        }

        .close {
            margin-left: auto;
            font-size: 0.7rem
        }

        img {
            width: 3.5rem
        }

        .back-to-shop {
            margin-top: 4.5rem
        }

        h5 {
            margin-top: 4vh
        }

        hr {
            margin-top: 1.25rem
        }

        form {
            padding: 2vh 0
        }

        select {
            border: 1px solid rgba(0, 0, 0, 0.137);
            padding: 1.5vh 1vh;
            margin-bottom: 4vh;
            outline: none;
            width: 100%;
            background-color: rgb(247, 247, 247)
        }

        input {
            border: 1px solid rgba(0, 0, 0, 0.137);
            padding: 1vh;
            margin-bottom: 4vh;
            outline: none;
            width: 100%;
            background-color: rgb(247, 247, 247)
        }

        input:focus::-webkit-input-placeholder {
            color: transparent
        }

        #btn {
            background-color: #000;
            border-color: #000;
            color: white;
            width: 100%;
            font-size: 0.7rem;
            margin-top: 4vh;
            padding: 1vh;
            border-radius: 0
        }

        #btn:focus {
            box-shadow: none;
            outline: none;
            box-shadow: none;
            color: white;
            -webkit-box-shadow: none;
            -webkit-user-select: none;
            transition: none
        }

        #btn:hover {
            color: white
        }

        a {
            color: black
        }

        a:hover {
            color: black;
            text-decoration: none
        }

        #code {
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: center
        }
    </style>
{% endblock %}


{% block content %}
    <div class="card my-5">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                        <div class="col align-self-center text-right text-muted">{{ order.get_total_products }} items
                        </div>
                    </div>
                </div>
                {% for item in items %}
                    <div class="row">
                        <div class="row main align-items-center">
                            <div class="col-2"><a href="{{ item.product.get_absolute_url }}"><img class="img-fluid"
                                                                                                  src="{{ item.product.image.url }}"></a>
                            </div>
                            <div class="col">
                                <div class="row text-muted">{{ item.product.title }}</div>
                                <div class="row">{{ item.product.description|truncatechars:15 }}</div>
                            </div>

                            <div class="col text-decoration-none"><a class="update-item h5" href=""
                                                                     data-product="{{ item.product.id }}"
                                                                     data-action="remove">-</a><a
                                    class="border">{{ item.quantity }}</a><a href="" class="update-item h5"
                                                                             data-product="{{ item.product.id }}"
                                                                             data-action="add">+</a></div>
                            <div class="col">$ {{ item.get_total_price|floatformat:2 }}<a
                                    class="update-item close mx-4 h5" href="" data-product="{{ item.product.id }}"
                                    data-action="delete">&#10005;</a></div>
                        </div>
                    </div>
                {% endfor %}
                <a href="{% url 'blog:home' %}">
                    <div class="back-to-shop">&leftarrow;<span class="text-muted">Back to shop</span></div>
                </a>
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;">{{ order.get_total_products }} ITEMS</div>
                    <div class="col text-right">$ {{ order.get_total_price|floatformat:2 }}</div>
                </div>
                <form method="POST">
                    <p>SHIPPING</p>
                    <select name="delivery">
                        {% for item in delivery %}
                            <option class="text-muted">{{ item.name }}- ${{ item.price }}</option>
                        {% endfor %}
                    </select>
                    <p>GIVE CODE</p> <input type="text" id="code" placeholder="Enter your code" name="code">
                    {% if messages %}
                        {% for msg in messages %}
                            {% if msg.tags == 'info' %}
                                <small class="text-danger">{{ msg }}</small>

                            {% endif %}
                        {% endfor %}
                    {% endif %}

                {% if order.coupons %}<h7 class="text-success">discount: -${{ order.coupons.discount }}</h7>{% endif %}

                    <button type="submit" class="btn btn-block btn-info">CHECK</button>
                    {% csrf_token %}
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">$ {{ order.get_last_total_price|floatformat:2 }}</div>
                </div>
                <a href="{% if order_items_count == 0 %}{% url 'blog:cart' %} {% else %}{% url 'blog:checkout' %}{% endif %}">
                    <button id="btn">CHECKOUT</button>
                </a>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger my-3" role="alert"
                                 style="position: absolute; margin-left: -20px; width: 300px">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}