{% extends 'blog/parents/base.html' %}
{% load static %}
{% load ratings %}

{% block title %}Product{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                                           src="{{ product.image.url }}" alt="..."/></div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: BST-498</div>
                    <h1 class="display-5 fw-bolder">{{ product.title }}</h1>
                    <div class="fs-5 mb-5">
                        <!-- Product price-->
                        {% if product.offPrice %}

                            <span class="text-muted text-decoration-line-through">${{ product.price }}</span>
                            ${{ product.offPrice }}
                        {% else %}
                            ${{ product.price }}

                        {% endif %}
                    </div>
                    <small style="position: absolute; margin-top: -40px;">{% ratings product %}</small>
                    <p class="lead">{{ product.description }}</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                               style="max-width: 3rem"/>

                        <a class="mt-auto update-item" data-product="{{ product.id }}" data-action="add" {% if not request.user.authentication %}href="{% url 'blog:login' %}"{% endif %}>
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to Cart
                            </button>
                        </a>
                    </div>
                {% if product.tags.all %}
                    <p class="tags my-4">Tags: {% for tag in product.tags.all %}
                        <a href="{% url "blog:products_by_tag" tag.slug %}" style="text-decoration: None">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </p>
                {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Related items section-->
    {% if similar_products %}
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in similar_products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            {% if product.offPrice %}

                                <!-- Sale badge-->
                                <div class="badge bg-dark text-white position-absolute"
                                     style="top: 0.5rem; right: 0.5rem">
                                    Sale
                                </div>
                            {% endif %}
                            <!-- Product image-->
                            <a href="{{ product.get_absolute_url }}"><img class="card-img-top"
                                                                          src="{{ product.image.url }}"
                                                                          alt="..."/></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.title }}</h5>
                                    <!-- Product price-->
                                    {% if product.offPrice %}

                                        <span class="text-muted text-decoration-line-through">${{ product.price }}</span>
                                        ${{ product.offPrice }}
                                    {% else %}
                                        ${{ product.price }}

                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                            href="{{ product.get_absolute_url }}">View options</a>
                                </div>
                                <div class="text-center px-5 my-2 inline-block"><a
                                        class="btn btn-outline-info mt-auto update-item"
                                        data-product="{{ product.id }}" data-action="add" {% if not request.user.authentication %}href="{% url 'blog:login' %}"{% endif %}>Add Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}