<!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Most Viewed products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in similar_products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            {% if product.offPrice %}

                                <!-- Sale badge-->
                                <div class="badge bg-dark text-white position-absolute"
                                     style="top: 0.5rem; right: 0.5rem">
                                    Sale
                                </div>
                            {% endif %}
                            <!-- Product image-->
                            <a href="{{ product.get_absolute_url }}"><img class="card-img-top"
                                                                          src="{{ product.image.url }}"
                                                                          alt="..."/></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.title }}</h5>
                                    <!-- Product price-->
                                    {% if product.offPrice %}

                                        <span class="text-muted text-decoration-line-through">${{ product.price }}</span>
                                        ${{ product.offPrice }}
                                    {% else %}
                                        ${{ product.price }}

                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                            href="{{ product.get_absolute_url }}">View options</a>
                                </div>
                                <div class="text-center px-5 my-2 inline-block"><a
                                        class="btn btn-outline-info mt-auto update-item"
                                        data-product="{{ product.id }}" data-action="add">Add Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>